body {
  margin: 0;
  background-color:RGB(76,76,76);
 
}
.main_div{
  margin-left: 30%;
  margin-top:150px;
  justify-content: center;
  height:200px;
  width:500px;
  color:orange;
 
}
.buttons{
  height:100px;
  width:500px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: RGB(60,60,60);

}
.buttons button{
  height:30px;
  width:30px;
  font-size: 20px;
}
h1{
  position: relative;
  margin-left:185px;
}
